python-dotenv==0.21.0
pymongo==4.17.0
dnspython==2.8.0
requests==2.33.1
pandas==2.1.4
numpy==1.26.4
scikit-learn==1.3.0
tensorflow==2.16.2
shap==0.49.1
flask==2.3.3
werkzeug==2.3.7
flask-cors==6.0.2
streamlit==1.57.0
joblib==1.2.0
plotly==5.24.1
cryptography==41.0.7
pyopenssl==23.3.0
statsmodels==0.14.0
xgboost==2.0.3